EXPO_PUBLIC_SUPABASE_URL=https://pbhbkeoiwxedvxcalqud.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBiaGJrZW9pd3hlZHZ4Y2FscXVkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA5NDMyMDAsImV4cCI6MjA2NjUxOTIwMH0.5bNfzZKfaasrVnkK2hvpKI2_KhwBNivcwhI9iNFrKsQ
